.zhezhao {
	position: fixed;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	}
.tankuang {
			position: relative;
			background: #fff;
			width: 800px;
			height: 100%;
			margin: 90px auto;
}
#header-right {
	position: absolute;
	padding: 15px;
	width: 30px;
	height: 30px;
	background: black;
	color: #fff;
	right: -61px;
    top: 0px;
	text-align: center;
	text-decoration: none;
}
#header-right:hover {
	background: #FF69B4;
	transition: all 0.3s ease;
}
#overflow {
	height: 100%;
	overflow-y:auto;
}

#faqpage {
	height: auto;
	padding: 30px;
}
/* 设置滚动条的样式 */
#overflow::-webkit-scrollbar {
     width: 0; 
}
#overflow::-webkit-scrollbar {
    width: 5px;
    border-radius: 8px;
}
/* 滚动槽 */
#overflow::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
    background-color: rgba(255,255,255,1);
}
/* 滚动条滑块 */
#overflow::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #FFC0CB;
    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
}
h1 {
	color: #FFC0CB;
	text-align: left;
}
a {
	text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .tankuang {
		position: relative;
		background: #fff;
		width: 300px;
		height: 100%;
		margin: 90px auto;
		padding: 30px;
	}
}
@media only screen and (max-width: 400px) {
    .tankuang {
		position: relative;
		background: #fff;
		width: 200px;
		height: 100%;
		margin: 90px auto;
		padding: 30px;
	}
}
@media only screen and (max-width: 300px) {
    .tankuang {
		position: relative;
		background: #fff;
		width: 100px;
		height: 100%;
		margin: 90px auto;
		padding: 30px;
	}
}